<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle || "My Dev.to Clone" %></title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/mainpost.css" />
  </head>
  <body>
    <!-- Header -->
    <%- include('partials/header') %>

    <div class="container">
      <!-- Left Sidebar -->
      <aside class="sidebar left">
        <%- include('partials/left-post-sidebar') %>
      </aside>

      <!-- Main Content -->
      <main class="content"><%- include('partials/mainpost') %></main>

      <!-- Right Sidebar -->
      <aside class="sidebar left">
        <%- include('partials/right-post-sidebar') %>
      </aside>
    </div>

    <!-- Footer -->
    <%- include('partials/footer') %>

    <script type="module" src="/scripts/main.js"></script>
  </body>
</html>
