<!-- views/post.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("partials/navbar") %>

    <header>
      <h1><%= post.title %></h1>
      <p>
        By
        <a href="/user/<%= post.author.id %>"><%= post.author.username %></a> on
        <%= new Date(post.createdAt).toLocaleDateString() %>
      </p>
    </header>

    <main>
      <article>
        <p><%= post.content %></p>
      </article>
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
