<div class="feed">
  <% posts.forEach(post => { %>
  <div class="card">
    <h2><a href="/post/<%= post.slug %>"><%= post.title %></a></h2>
    <p>
      By <a href="/user/<%= post.author.id %>"><%= post.author.username %></a> -
      <%= new Date(post.createdAt).toLocaleDateString() %>
    </p>
    <div class="engagement">
      <span>❤️ 1 </span>
      <span>💬 <%= post.comments.length %></span>
    </div>
  </div>
  <% }); %>
</div>
