<div class="feed">
  <% posts.forEach(post => { %>
  <section class="mainpost feed-post">
    <div class="post-cover">
      <% if (post.coverImage) { %>
      <img
        src="<%= post.coverImage %>"
        alt="Cover image for <%= post.title %>"
      />
      <% } %>
    </div>
    <div class="post-header">
      <h2 class="post-title">
        <a href="/post/<%= post.slug %>"><%= post.title %></a>
      </h2>
      <div class="post-meta">
        <span class="author">
          By
          <a href="/user/<%= post.author.id %>"><%= post.author.username %></a>
        </span>
        <span class="date">
          Published on <%= new Date(post.createdAt).toLocaleDateString() %>
        </span>
      </div>
    </div>
  </section>
  <% }); %>
</div>
